 .descubri h2, h1{
    font-family: 'Verdana Pro Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;  
    letter-spacing: -0.015em;
    color: #573C14;
  }

 .descubri h1{
    font-size: 40px;
    margin: 0;
  }

 .descubri p{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #573C14;
  }

  .cordoba{
    margin-top: 2em;
    width: 100%!important;
    height: 100%!important;
  }

  .card-title{
    padding-bottom: 10px!important;
    font-style: normal;
    font-weight: 700!important;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
  }

  .card-image{
    border-bottom: 3px solid #EADDC4;
  }

  .card-image a{
    padding: 0!important;
    font-family: none!important;
  }
  
  .container .descubri{
	  margin-top: 50px;
  }
  
  .desc a{
    padding: 0px 2rem;
    font-family: 'Verdana Pro Black', sans-serif;
    background-color: #795548;
    margin-bottom: 15px;
  }

  .desc a:hover{
    color: black;
    background-color: antiquewhite;
  }

  .divider{
    background-color: #795548!important;
  }

  span{
    font-family: 'Century Gothic';
    font-style: normal; 
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #000000;
  }

  .info{
    padding-right: 3em!important;
  }