 .descubri h2, h1{
    font-family: 'Verdana Pro Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;  
    letter-spacing: -0.015em;
    color: #795548;
  }

 .descubri h1{
    font-size: 28px;
    margin: 0;
  }

 .descubri p{
    font-family: 'Century Gothic';
    font-size: 17px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: black;
  }

  .cordoba{
    margin-top: 2em;
  }

  .carousel{
    height: 350px!important;
  }

  .card-title{
    padding-bottom: 10px!important;
    font-size: 28px;
    font-family: "Century Gothic";
    color: #FFFFFF;
  }

  .card-image{
    border-bottom: 3px solid #EADDC4;
  }

  .card-image a{
    padding: 0!important;
    font-family: none!important;
  }
  
  .container .descubri{
	  margin-top: 50px;
  }
  
  .desc a{
    padding: 0px 1.8rem;
    font-family: 'Verdana Pro Black', sans-serif;
    background-color: #795548;
    margin-bottom: 15px;
    font-size: 12px;
  }

  .desc a:hover{
    color: black;
    background-color: antiquewhite;
  }

  .divider{
    background-color: #795548!important;
  }

  span{
    font-family: 'Century Gothic';
    font-style: normal; 
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #000000;
  }

  .info{
    padding-right: 3em!important;
  }

  .modal { 
    width: 30% !important ; 
    height: 40% !important ; 
  }

  .modal a{
    padding: 0!important;
  }
  
  .modal a:hover {
    background-color: grey;
  }
  
  .modal h4{
    color: #795548;
    font-weight: 500;
    font-size: 1.8rem;
  }
  
  .modal p, label{
    color: #795548!important;
    font-weight: 500!important;
    font-size: 20px!important;
  }

  .modal i{
    padding: 0!important;
    font-size: 65px!important;
    background-color: antiquewhite;
  }

  .modal div{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .modal img{
    border-radius: 5px;
    padding: 0!important;
    width: 65px!important;
    height: 65px!important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  } 

  .modal input{
    width: 90%!important;
    padding-left: 10px!important;
    margin-top: 5px!important;
    margin-bottom: 15px!important;
    border-radius: 5px!important;
    background-color: antiquewhite!important;
    border-bottom: none!important;
    color: #795548!important;
    font-size: 20px!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    -ms-border-radius: 5px!important;
    -o-border-radius: 5px!important;
}

  .modal input:focus{
    border: none;
  }

  .padding{
    padding: 10px;
  }

  .card .card-image .card-title {
    width: 100%;
    background-color: #79554838;
    padding: 5px !important;
}
