 .descubri h2, h1{
    font-family: 'Verdana Pro Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;  
    letter-spacing: -0.015em;
    color: #573C14;
  }

 .descubri h1{
    font-size: 40px;
  }

 .descubri p{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #573C14;
  }
  
 .btn{
    background: #A67225;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: none;
  }

  .cordoba{
    margin-top: 2em;
    width: 100%!important;
    height: 100%!important;
  }

  .card-title{
    padding-bottom: 10px!important;
    font-style: normal;
    font-weight: 700!important;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
  }

  .card-image{
    border-bottom: 3px solid #EADDC4;
  }

  .container .descubri{
	margin-top: 50px;
  }
  