body {
  margin: 0px;
}

.isotipo img {
  max-width: 120px;
  max-height: 110px;
}

.logotipo img {
  max-width: 450px;
  max-height: 55px;
}

.logotipo{
  margin-left: 20%;
}

.menu a {
  padding: 5px;
  font-family: "Century Gothic";
  font-size: 22px;
  color: #573c14;
  text-decoration: none;
  
}

.menu a:active{
  font-weight: bold;
}


.linea {
  height: 1px;
  width: 1800px;
  background-color: #573c14;
  margin-left: 110px;
  align-self: center;
}

.flex-home {
  margin: 0px 40px 0px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.flex-home > div {
  align-self: center;
}

.flex-home {
  margin: 10px 40px 0px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.home {
  background-image: url('../img/nomad.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  height: 950px;
  text-align: center;
}

.home::before{
  content: '';
  opacity: 0.5;
}

.home h1{
  font-family: "Century Gothic";
  font-size: 40px;
  font-weight: normal;
  color: #573c14;
  text-align: center;
}

.boton{
  font-family: "Century Gothic";
  font-size: 20px;
  color: #573c14;
  text-decoration: none;
  text-align: center;
}

.boton:link{
  background-color: #EADDC4;
  width: 100px;
  height: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  
}

.guias img{
  max-width: 650px;
  max-height: 450px;
}

.flex-home2 {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-home2 h1{
  font-family: "Century Gothic";
  font-size: 44px;
  font-weight: bold;
  color: #573c14;
  text-align: left;
}

.flex-home2 h2{
  font-family: "Century Gothic";
  font-size: 24px;
  font-weight: normal;
  color: #573c14;
  text-align: left;
}

.flex-home2 p{
  font-family: "Century Gothic";
  font-size: 16px;
  font-weight: normal;
  color: #573c14;
  text-align: left;
}

