.menu a {
  padding: 5px;
  font-family: "Century Gothic";
  font-size: 22px;
  color: #573c14;
  text-decoration: none;
  
}

.header .isotipo img{
  max-width: 100px;
  max-height: 80px;
  background-color: transparent;
  margin-left: 10px;
  padding-bottom: 5px;
}

.header .logotipo  img{
  max-width: 200px;
  max-height: 200px;
  margin-top: 15px;

}

.header{
  height: 90px;
  background-color: transparent;
  position: absolute;
 
}

.header a{
  padding: 5px;
  font-family: "Century Gothic";
  font-size: 18px;
  color: #573c14;
  text-decoration: none;
  margin: 10px 10px 0px 0px;

}

.home img{
  width: 100%;
}

.home{
  text-align: center;
  margin-bottom: 50px;
}

.textohome{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .boton{
  color:black;
}

.home h2{
  font-size: 40px;
  color:#573C14;
  font-family: 'Century Gothic', sans-serif;
}

.boton{
  color:white;
  font-family: 'Century Gothic', sans-serif;
  text-decoration: none;
  text-align: center;
  width: 150px;
  height: 40px;
  font-size: 16px;
}

.boton:link{
  background-color: #EADDC4;
  width: 100px;
  height: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.marron{
  background-color: #A67225;
  width: 100px;
  height: 20px;
  text-decoration: none;
  border-radius: 5px;
  color:white;
}

.guias img{
  max-width: 800px;
  max-height: 450px;
}

.flex-home2 {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-home2 h1{
  font-family: "Century Gothic";
  font-size: 44px;
  font-weight: bold;
  color: #573c14;
  text-align: left;
}

.flex-home2 h2{
  font-family: "Century Gothic";
  font-size: 24px;
  font-weight: normal;
  color: #573c14;
  text-align: left;
}

.flex-home2 p{
  font-family: "Century Gothic";
  font-size: 16px;
  font-weight: normal;
  color: #573c14;
  text-align: left;
}

.home-body h2{
  margin-top: 60px;
  font-size: 40px;
  color:#573C14;
  font-family: 'Century Gothic', sans-serif;
}

.home-body p{
  color:#573C14;
  font-family: 'Century Gothic', sans-serif;
  font-size: 24px;
}

.home-body h1{
  color:#573C14;
  margin: 0px;
  font-family: 'Verdana Pro Black', sans-serif;
  font-size: 60px;
  font-weight: normal;
}

.producto img{
  width: 300px;
  height: 200px;
}

.home-productos h1{
  color:#573C14;
  margin-bottom: 20px;
  font-family: 'Verdana Pro Black', sans-serif;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

.flex-productos {
  display: flex;
  flex-wrap: nowrap;
}

.flex-productos img{
  margin-bottom: 10px;
}

.botonproductos{
  color:white;
  font-family: 'Century Gothic', sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  background-color: #A67225;
  text-decoration: none;
  border-radius: 5px;
  color:white;
  padding: 10px 122px;
}

.flex-productos > div {
  width: 400px;
  margin: 10px;
  text-align: center;
}

