html{
    background-color: white;
}

.guias h1{
    font-size: 22px;
    font-family: 'Verdana Pro Black', sans-serif;
    text-align: left;
}

.buscador h1{
    font-size: 24px;
    font-family: 'Verdana Pro Black', sans-serif;
}

.guias a:hover{
    color: black;
    background-color: antiquewhite;
  }

.guias .row{
    margin-bottom: 0px;
    margin-top: 0px;
}

.row .divider {
    margin-top: 4.8rem;
    background-color: #79554880;
}

.card-title{
    padding-bottom: 10px!important;
    font-size: 28px;
    font-family: "Century Gothic";
    color: #FFFFFF;
  }

.card-image{
    border-bottom: 3px solid #EADDC4;
}

.card .responsive-img{
    height: 200px!important;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #795548!important;
}

.select-wrapper input.select-dropdown {
    border-bottom: 1px solid #795548!important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #795548!important;
}

.select-wrapper input.select-dropdown{
   position:  relative!important;
}

.card .card-image .card-title {
    width: 100%;
    background-color: #79554838;
    padding: 0px;
}


.textodestinos .divider{
    margin-top: 3.8rem;
}

.buscador .row{
    margin-bottom: 0px;
}
