html{
    background-color: white;
}

.guias h1{
    font-size: 22px;
    font-family: 'Verdana Pro Black', sans-serif;
    text-align: left;
}

.buscador h1{
    font-size: 24px;
    font-family: 'Verdana Pro Black', sans-serif;
}

.guias a:hover{
    color: black;
    background-color: antiquewhite;
  }

.guias .row{
    margin-bottom: 0px;
    margin-top: 0px;
}

.row .divider {
    margin-top: 4.8rem;
    background-color: #79554880;
}

.card-title{
    padding-bottom: 10px!important;
    font-size: 28px;
    font-family: "Century Gothic";
    color: #FFFFFF;
  }

.card-image{
    border-bottom: 3px solid #EADDC4;
}
