html{
  background-color: #EADDC4;
}

.menu a {
  padding: 5px;
  font-family: "Century Gothic";
  font-size: 22px;
  color: #573c14;
  text-decoration: none;
}

.header .isotipo img{

  max-width: 100px;
  max-height: 80px;
  background-color: transparent;
  margin-left: 20px;
  padding-bottom: 5px;
}

.header .logotipo  img{
  max-width: 200px;
  max-height: 200px;
  margin-top: 15px;
}

.header{
  height: 90px;
  background-color: transparent;
}

.header a{
  padding: 5px;
  font-family: "Century Gothic";
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin: 10px 10px 0px 0px;
}

.header a:hover{
  background-color: transparent;
}

.logotipofooter{
  margin-top: 40px;
  width: 150px;
  height: 35px;
}

.footer a{
  color:#573C14;
  margin-bottom: 50px;
  margin-right: 5px;
}

.footer .row{
  margin-bottom: 0px; 
}

.container .divider{
  background-color: #79554880;
}


