html{
  background-color: white;
}

.home img{
  width: 100%;
}

.home{
  text-align: center;
  margin: 0rem;
}

.header{
position: absolute;
}

.textohome{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textohome h1{
  font-size: 2.5rem;
  font-family: "Century Gothic";
  margin-top: 3rem;
}

.textohome a{
  font-family: 'Verdana Pro Black', sans-serif;
  background-color: #795548;
  font-size: 0.8rem;
}

.textohome a:hover{
  color: black;
  background-color: antiquewhite;
}

.home-body h1{
  font-size: 2rem;
  font-family: 'Verdana Pro Black', sans-serif;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.home-body h2{
  font-size: 2rem;
  font-family: "Century Gothic";
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.home-body p{
  font-size: 1.4rem;
  font-family: "Century Gothic";
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.home-body .explorar{
  font-family: 'Verdana Pro Black', sans-serif;
  background-color: #795548;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.home-body a:hover{
  color: black;
  background-color: transparent;
}

.home-body .explorar:hover{
  background-color: antiquewhite;
}

.home-body img{
  margin-top: 1rem;
}

.carousel {
  height: 300px !important;
}

.carousel-item img{
  height: 82%;
  margin-bottom: 0.6rem;
}

.carousel-item {
  height: 85%!important;
  width: 20%!important; 
  position: absolute;
}

.carousel a:hover{
  color: black;
  background-color: antiquewhite;
}

.carousel a{
  color: white;
  font-family: 'Verdana Pro Black', sans-serif;
  background-color: #795548;
}

.carousel .carousel-item h1{
    text-align: center;
}

.carousel .carousel-item h1{
  position: absolute;
  bottom: 0;
}

.modal { 
  width: 30% !important ; 
  height: 55% !important ; 
}

.logotipomodal{
  width: 25rem;
  padding-left: 29%;
  margin-bottom: 2rem;
}

.modal a {
  width: 22rem;
  margin-top: 0.8rem;
  color: white;
  font-family: 'Verdana Pro Black', sans-serif;
  background-color: #795548;
}

.modal a:hover {
  color: black;
  background-color: antiquewhite;
}

.modal h4{
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.modal p{
  margin-top: 5rem;
}

.row .divider {
  margin-top: 2rem;
  background-color: #79554880;
}

.home-slider h1{
  font-size: 2rem;
  font-family: 'Verdana Pro Black', sans-serif;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.home-slider a{
  font-family: 'Verdana Pro Black', sans-serif;
  background-color: #795548;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.home-slider a:hover{
  color: black;
  background-color: antiquewhite;
}