html{
  background-color: white;
}

.home img{
  width: 100%;
}

.home{
  text-align: center;
  margin: 0px;
}

.header{
position: absolute;
}

.textohome{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textohome h1{
  font-size: 40px;
  font-family: "Century Gothic";
}

.textohome a{
  font-family: 'Verdana Pro Black', sans-serif;
  background-color: #795548;
}

.textohome a:hover{
  color: black;
  background-color: antiquewhite;
}

.home-body h1{
  font-size: 32px;
  font-family: 'Verdana Pro Black', sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
}

.home-body h2{
  font-size: 32px;
  font-family: "Century Gothic";
  margin-bottom: 0px;
}

.home-body p{
  font-size: 24px;
  font-family: "Century Gothic";
  margin-top: 0px;
}

.home-body a{
  font-family: 'Verdana Pro Black', sans-serif;
  background-color: #795548;
}

.home-body a:hover{
  color: black;
  background-color: antiquewhite;
}

.home-productos a{
  font-family: 'Verdana Pro Black', sans-serif;
  padding: 0px 6rem;
  margin-bottom: 15px;
  background-color: #795548;
}

.home-productos a:hover{
  color: black;
  background-color: antiquewhite;
}

.home-productos h1{
  font-size: 28px;
  font-family: 'Verdana Pro Black', sans-serif;
}

.home-productos img{
  max-height: 200px;
  margin: 20px 0px ;
}