.hotel h2, h1{
    font-family: 'Verdana Pro Black', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;  
    letter-spacing: -0.015em;
    color: #795548;
  }

 .hotel h1{
    font-size: 28px;
    margin: 0;
  }

 .hotel p{
    font-family: 'Century Gothic';
    font-size: 20px;
    color: black;
    margin-bottom: 0;
    margin-left: 2em;
  }

  h3{
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #795548;
  }

  .hotel-img{
    margin-top: 2em;
    width: 100%!important;
    height: 100%!important;
  }

  .container{
	  margin-top: 50px;
  }
  
  .btn{
    padding: 0px 2rem;
    font-family: 'Verdana Pro Black', sans-serif;
    background-color: #795548!important;
    margin-bottom: 15px;
    font-size: 12px;
  }

  .out{
    padding: 5px 2rem;
    font-size: 20px;
    color: antiquewhite!important;
    font-family: 'Verdana Pro Black', sans-serif;
    background-color: #795548!important;
    margin-bottom: 15px;
  }

  .in{
    padding: 5px 2rem;
    color:  #795548!important;
    font-size: 20px;
    font-family: 'Verdana Pro Black', sans-serif;
    background-color: antiquewhite!important;
    margin-bottom: 15px;
  }

  .btn:hover{
    color: black;
    background-color: antiquewhite!important;
  }

  .divider{
    background-color: #795548!important;
  }

  span{
    font-family: 'Century Gothic';
    font-style: normal; 
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #000000;
  }

  .info{
    padding-right: 3em!important;
  }

  iframe{
    height: 450px!important;
  }

  .video-container{
    padding-bottom: 40%!important;
  }

  .ubi{
    margin: 10px 0px;
  }

  .ubi h2{
    margin-top: 15px;
  }

  .check{
    margin-bottom: 3em!important;
  }

  .more{
    left: 35%!important;
  }

  .carousel{
    margin-top: 2em;
    height: 350px!important;
  }

  .datepicker-date-display, .timepicker-digital-display{
    background-color: #795548!important;
  }

  .datepicker-cancel, .datepicker-done, .timepicker-close{
    color: #795548!important;
  }

  .timepicker-span-hours, .timepicker-span-minutes{
    font-family: 'Verdana Pro Black', sans-serif;
  }

  .date-text{
    font-family: 'Verdana Pro Black', sans-serif!important;
    font-size: 2.0rem!important;
    color: antiquewhite!important;
  }

  .timepicker-plate{
    background-color: antiquewhite!important;
  }